<!DOCTYPE html>
<html>
<head>
    <title>AgriCam</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <span>🌾 AgriCam</span>
        <div>
            <a href="/">Accueil</a>
            <a href="/formulaire">Formulaire</a>
            <a href="/donnees">Données</a>
            <a href="/analyse">Analyses</a>
        </div>
    </nav>

    <div class="hero">
        <h1>🌾 Bienvenue sur AgriCam</h1>
        <p>Application de collecte et d'analyse des données agricoles au Cameroun 🇨🇲</p>
        <br>
        <a href="/formulaire" class="bouton">Remplir le formulaire</a>
    </div>

    <div class="contenu">
        <h2>Pourquoi AgriCam ?</h2>
        <p>AgriCam permet de collecter et analyser les données agricoles du Cameroun pour mieux comprendre les défis des agriculteurs.</p>
    </div>

    <footer>
        <p>AgriCam © 2026 - Données agricoles du Cameroun</p>
    </footer>

</body>
</html>